# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/shop"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

# JWT Secret
JWT_SECRET_KEY=""

# Xendit
XENDIT_SECRET_KEY=""
SUCCESS_REDIRECT_URL="http://localhost:3000/checkout/success"
WEBHOOK_TOKEN=""